body {
  margin: 0;
}

main {
  margin: 16px;
}

.navbar {
  display: flex;
  background: mediumblue;
  color: white;
}

.menuOption {
  padding: 16px 16px;
}

.lastLeftOption {
  margin-right: auto;
}

.menuRightOption {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
}

.buttonOrderStatus {
  color: white;
  background: mediumblue;
  border-width: 0;
}

.selectOptions {
  margin-left: 1px;
  background: mediumblue;
  color: azure;
  border-width: 0;
  fill: white;
}